/* 1 - Custom fonts */
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script&family=Raleway:wght@300;400;500;600;700&display=swap');


/* 2 - Variables */

:root {
    --background: #CBDBD6;
    --column-light-text: #fcfaf0;
    --banner: #3f7d7b;
    --tags-dark-text: #0c3741;
    --bookmarks: #e9ac36;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body {
    background: var(--background);
}


/* 3 - Containers */

.banner-container {
    background: var(--banner);
}

.filter-column {
    display: none;
}

.collection-container {
    background-color: var(--column-light-text);
    border-radius: 5px;
}

@media screen and (min-width: 480px) {
    .banner-container {
        display: flex;
        justify-content: space-around;
    }

    .grid-container {
        display: grid;
        grid-template-columns: 1fr 4fr;
        height: 500px;
    }

    .filter-column {
        display: block;
        grid-column: 1 / 2;
        background-color: var(--column-light-text);
    }

    .results-column {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .collection-container {
        width: 45%;
        margin-top: 2rem;
        padding-bottom: 1.2rem;
    }

    .collection-header {
        text-align: center;
        margin-left: 1.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .collection-covers {
        display: flex;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        justify-content: space-around;
    }

    .thumbnails-container {
    }
}

/* 4 - Banner */

.banner-titles {
    color: var(--column-light-text);
    margin: auto 0;
}

h1 {
    font-family: 'Clicker Script', cursive;
    font-size: 9rem;
}

.tagline {
    font-weight: 300;
    font-size: 2rem;
    margin-top: 1rem;
}

#girl-reading {
    padding: 3rem 0;
}


/* 5 - Filter Column */

.tags-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;

}

.tags {
    background-color: var(--tags-dark-text);
    list-style: none;
    font-size: 0.9rem;
    color: var(--column-light-text);
    border-radius: 0.25rem;
    padding: 0.1rem 0.8rem;
    margin: 0.3rem 0.5rem;
    font-weight: 500;
}

.category-title {
    margin-top: 3rem;
    margin-bottom: 0.3rem;
    font-size: 1rem;
    text-align: left;
    margin-left: 1.7rem;
}

.checkbox-item {
    text-align: left;
    margin-left: 1.7rem;
    color: var(--tags-dark-text);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.filter-button {
    background-color: var(--tags-dark-text);
    color: var(--column-light-text);
    font-size: 1rem;
    padding: 0.3rem 1rem;
    border-radius: .4rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

/* 6 - Collection Cards */

.thumbnails {
    width: 120px;
}

@media screen and (min-width: 480px)